<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mô tả</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/description.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap"
    rel="stylesheet" />
</head>

<body>
  <div class="container">
    <%- include('../include/navbar.ejs',{title : "Mô tả" }) %>
      <div class="content">
        <div class="sidebar">
          <%- include('../include/sidebar.ejs') -%>
        </div>
        <div class="content-desc">
          <% for(let i=0; i < data.length; i++) { %>
            <div class="list">
              <p class="list-text">
                <%- data[i].text %>
              </p>
              <div class="list-img">
                <% for(let j=0; j <=data[i].image.length; j++) {%>
                  <% if (data[i].image[j]) { %>
                    <% if (data[i].image[j].type==="1/3" ) { %>
                      <div class="item-img" style="width: 32%;">
                        <img src="/upload/<%= data[i].image[j].link%>" alt="">
                        <%if (data[i].image[j].explain !=="" ) {%>
                          <span>
                            <%= data[i].image[j].explain %>
                          </span>
                          <%}%>
                      </div>
                      <%}%>
                        <% if (data[i].image[j].type==="1/2" ) { %>
                          <div class="item-img" style="width: 48%;">
                            <img src="/upload/<%= data[i].image[j].link%>" alt="">
                            <%if (data[i].image[j].explain !=="" ) {%>
                              <span>
                                <%= data[i].image[j].explain %>
                              </span>
                              <%}%>
                          </div>
                          <%}%>
                            <% if (data[i].image[j].type==="1/1" ) { %>
                              <div class="item-img" style="width: 100%;">
                                <img src="/upload/<%= data[i].image[j].link%>" alt="">
                                <%if (data[i].image[j].explain !=="" ) {%>
                                  <span>
                                    <%= data[i].image[j].explain %>
                                  </span>
                                  <%}%>
                              </div>
                              <%}%>
                                <%}%>
                                  <%}%>
              </div>
              <%if (data[i].explainAll !=="" ) {%>
                <p class="list-expandAll">
                  <%= data[i].explainAll %>
                </p>
                <%}%>
            </div>
            <% }; %>
        </div>
      </div>
  </div>
  <script>
    const listTagA = document.getElementsByClassName('link-reference')
    for (let index = 0; index < listTagA.length; index++) {
      listTagA[i].setAttribute("target","_blank")
    }
  </script>
</body>

</html>